@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  *{
    text-decoration: none;
  }
  

  /* shared styles */
  .or{
    color: orange;
  }
  .sb{
    color: skyblue;
  }

  .fb{
    color:#05D4DF;
  }
  .ba{
    color: #5D58EF;
  }
  
  .text-description-1{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
  }

  .text-description-2{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
  }

  .text-description-3{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
  }
  .text-description-footer{
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
  }
  .btn-primary{
    font-size: 20px;
    padding: 10px 54px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
  }
  .section-heading{
    font-weight: 700;
    font-size: 2.88rem;
  }
  .flex{
    display:flex;
  }

  /* navvar related style */
  .header{
    margin: 0 auto;
  }

.nav-container{
  display: flex;
  justify-content: space-between;
  margin: 10px 140px ;
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-head{
  display: flex;
  gap: 11px;
}

nav ul li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.bg-nav{
  background-color: orange;
}
.menu-icon{
  font-size: 1.8rem;
  display: none;
}

@media screen and (max-width:576px){
  .nav-list,
  .nav-btn{
    display:none;
  }
  .menu-icon{
    display: block;
    margin-left: 100px;
  }
  .nav-head h2{
    display: none;
  }
  .nav-container{
    margin: 2rem;
  }
}

/* hero-section realated style */
.hero-section{
  display: flex;
  align-items: center;
  margin: 0 140px;
  gap: 50px;
}
.hero-section-content{
  max-width: 640px;
  text-align:left;
}
.hero-heading{
  max-width: 640px;
  text-align: left;
}
.hero-section-img{
  max-width: 469px;
}
.hero-btn{
  color: #FFFFFF;
  background-color: black;
}
@media screen and (max-width: 576px) {
  .hero-section{
    flex-direction: column-reverse;
    margin: 0px 10px
  }
  .hero-section-content{
    text-align: center;
  }
  .hero-heading{
    text-align: center;
    max-width: none;
  }
}


/* curriculam related style */
.bi{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.curricullam-container{
  margin: 20px 140px;
  max-width: 1160px;
  margin-top: 50px;
}

.curriculam-heading{
  text-align: center;
  padding-bottom: 15px;
  color:#000000 ;
  font-size:2rem ;
  font-weight: bold;
}

.curriculam-card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 29px;
}
.card{
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 19px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 53px 40px;
}
.gradiant-1{
  background: linear-gradient(180deg, rgba(135, 207, 235, 0.269), #FFFFFF);
}
.gradiant-2{
  background: linear-gradient(180deg, rgba(255, 166, 0, 0.303), #FFFFFF);
}
.gradiant-3{
  background: linear-gradient(180deg, #8800ff4a, #FFFFFF);
}

.card img{
  height: 131px;
}

.card h3{
  color:#202020 ;
  font-size:1.5rem ;
  padding: 5px;
}

.cd-1a{
  color: #64C8FF;
  font-weight: 500;
}
.cd-2a{
  color: #F0AA00;
  font-weight: 500;
}
.cd-3a{
  color:#8700FF;
  font-weight: 500;
}
.array{
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  background-color: orange;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: 600;
}
.array-container{
  display: flex;
  gap: 5px;
  justify-content: center;
}

@media screen and (max-width:576px){
.curriculam-card-container{
  grid-template-columns: repeat(1,1fr);
}
.curricullam-container{
  margin: 20px 30px;
}
.array-container{
  display: none;
}
}


/* story related style */






















