@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  *{
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  

  /* shared styles */
  .pc{
    color: #ffffffda;
  }
  .or{
    color: orange;
  }
  .sb{
    color: skyblue;
  }

  .fb{
    color:#05D4DF;
  }
  .ba{
    color: #5D58EF;
  }
  
  .text-description-1{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
  }

  .text-description-2{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
  }

  .text-description-3{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
  }
  .text-description-footer{
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
  }
  .btn-primary{
    font-size: 20px;
    padding: 10px 54px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
  }
  .section-heading{
    font-weight: 700;
    font-size: 2.88rem;
  }
  .flex{
    display:flex;
  }

  /* navvar related style */
  .header{
    margin: 0 auto;
  }

.nav-container{
  display: flex;
  justify-content: space-between;
  margin: 10px 140px ;
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-head{
  display: flex;
  gap: 11px;
  align-items: center;
}

nav ul li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.bg-nav{
  background-color: orange;
}
.menu-icon{
  font-size: 1.8rem;
  display: none;
}

@media screen and (max-width:576px){
  .nav-list,
  .nav-btn{
    display:none;
  }
  .menu-icon{
    display: block;
    margin-left: 100px;
  }
  .nav-head h2{
    display: none;
  }
  .nav-container{
    margin: 2rem;
  }
}

/* hero-section realated style */
.hero-section{
  display: flex;
  align-items: center;
  margin: 0 140px;
  gap: 50px;
}
.hero-section-content{
  max-width: 640px;
  text-align:left;
}
.hero-heading{
  max-width: 640px;
  text-align: left;
}
.hero-section-img{
  max-width: 469px;
}
.hero-btn{
  color: #FFFFFF;
  background-color: black;
  margin-top: 20px;
}
@media screen and (max-width: 576px) {
  .hero-section{
    flex-direction: column-reverse;
    margin: 0px 10px
  }
  .hero-section-content{
    text-align: center;
  }
  .hero-heading{
    text-align: center;
    max-width: none;
  }
}


/* curriculam related style */
.bi{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.curricullam-container{
  margin: 20px 140px;
  max-width: 1160px;
  margin-top: 50px;
}

.curriculam-heading{
  text-align: center;
  padding-bottom: 15px;
  color:#000000 ;
  font-size:2rem ;
  font-weight: bold;
}

.curriculam-card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 29px;
}
.card{
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 19px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 53px 40px;
  z-index: 10;
}
.gradiant-1{
  background: linear-gradient(180deg, rgba(135, 207, 235, 1), #FFFFFF);
}
.gradiant-2{
  background: linear-gradient(180deg, rgba(255, 166, 0, 1), #FFFFFF);
}
.gradiant-3{
  background: linear-gradient(180deg, #8800ffe6, #FFFFFF);
}

.card img{
  height: 131px;
}

.card h3{
  color:#202020 ;
  font-size:1.5rem ;
  padding: 5px;
}

.cd-1a{
  color: #64C8FF;
  font-weight: 500;
}
.cd-2a{
  color: #F0AA00;
  font-weight: 500;
}
.cd-3a{
  color:#8700FF;
  font-weight: 500;
}
.array{
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  background-color: orange;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: 800;
}
.array-container{
  display: flex;
  gap: 5px;
  justify-content: center;
}

@media screen and (max-width:576px){
.curriculam-card-container{
  grid-template-columns: repeat(1,1fr);
}
.curricullam-container{
  margin: 20px 30px;
}
.array-container{
  display: none;
}
}


/* story related style */



.story-heading{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.stories{
  background: linear-gradient(0deg, rgba(255, 166, 0, 0.491), rgba(255, 255, 255, 0.688));
}
#story-card-1{
  grid-row: span 2;
}
.story-card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.story-card img{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}



.story-card-l{
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5%;
  text-align: center;
  background-color: #FFFFFF;
  text-align: center;
  position: relative;
}
.story-card-l button{
  background-color: orange;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.811);
  border-radius: 35%;
  border: none;
  padding: 10px 15px;
  position: absolute;
  top:63.5%;
  left: 38%;
  
}
.story-card-l img{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.story-card-l p{
  padding: 20px;
}
.story-card-l h3{
  padding-top: 10px;
}

.story-card{
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5%;
  text-align: center;
  background-color: #FFFFFF;
  text-align: center;
  position: relative;
}


.story-card button{
  background-color: orange;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.811);
  border-radius: 35%;
  border: none;
  padding: 10px 15px;
  position: absolute;
  top:65%;
  left:26%;
  width:150px;
}
.story-card h3{
  padding-top: 10px ;
}

.stories-button button{
  padding: 5px  25px;
  border-radius: 45%;
  background-color: #000;
  color: #FFFFFF;
  margin-top: 20px;
}
.stories-button{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:576px){
  .story-card-container{
    grid-template-columns: repeat(2,1fr);
    margin-left: 0px;
  }
  .story-container{
    /* margin: 10px;
    margin-right: 15px; */
  }
  .story-card-l{
    display: none; 
  }
  .story-card, .story-card img{
    display: block; 
    max-width: 230px;
    margin-left: 0px;

  }
  .stories-button{
    margin: 10px;
  }
  .story-card-container{
    width: 0;
  }
  .story-card button{
    top: 55%;
    left: 18%;
  }

}

/* footer-related style */

.footer-container{
  width: 1070px;
  background-color: #05D4DF;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 170px;
  padding: 93px 200px 150px 50px;
  margin-left: 50px;
  margin-top: 20px;
}

.footer-content-p{
  padding-left: 10px;
  padding-top: 10px;
  font-size: .75rem;
}

.footer-nav nav ul{
  display: flex;
  flex-direction: column;
}

.footer-nav nav ul a{
  color: #ffffffc1;
  font-size: .8rem;
}

.footer-icon-img{
  margin-top: 10px;
}


@media screen and (max-width:576px){
  .footer-container{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin: 0;
    padding-bottom: 20px;
    margin-top: -10px;
  }
  .footer-content-p{
    max-width: 250px;
    padding-left: 10px;
    padding-top: 20px;
  }

  .footer-content{
    margin-left: -10px;
  }

}














